@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-style: bold;
  font-weight: 700;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
  background: #031423;
}

.custom-bold {
	font-family: "Montserrat-SemiBold", sans-serif;
	font-weight: 700;
}

.fjb-header {
	font-size: 10rem;
	text-align: center;
	padding: 4rem 0;
	color: transparent;
	/* text-shadow: 4px 4px 2px rgba(0, 0, 0, 1); */
}

.gh {
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}

.gh:hover {
	transform:scale(1.05);
}

.supa-rounded {
	border-radius: 40px;
}

.bg-shad {
	opacity: 0.19;
  border-radius: 40px;
  background-color: #000;
	/* width: 114px;
  height: 115px; */
	width: 141px;
  height: 144px;
	position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	margin: auto;
	z-index: 1;
}

.pos-gho {
	margin-bottom: -15px;
}

.pos-gho-tra {
	transform: translateY(5px);
}

.anchor-here {
	color: rgb(32, 32, 32);
	letter-spacing: 2.75px;
	font-family: "Spot", sans-serif;
}

.anchor-here:hover {
	opacity: .6;
}

.pos-gho-tra-s {
	transform: translateY(2px);
}

.discord-bubble {
	background-color: #bf0a30;
	width: 425px;
  height: 76px;
	display: flex;
	color: white;
	align-items: center;
	font-size: 17px;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 1.2px;
}

.logo-colors {
  border-right-color: white;
  border-top-color: blue;
  border-bottom-color: red;
  border-left-color: blue;
  border-width: 2px;
  border-style: solid;
}

.discord-bubble:hover {
	background-color: 	rgba(191,10,48, 0.8);
}

.reg-font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	letter-spacing: 1.1px;
}

.faq-item {
	background-color: #13548a;;
	border-radius: 32px;
	padding: 1rem 1.5rem;
}

.letter-spacing-1 {
	letter-spacing: 1.2px;
}

.letter-spacing-1a {
	letter-spacing: 1.66px;
}

.letter-spacing-2a {
	letter-spacing: 2.03px;
}

.letter-spacing-2 {
	letter-spacing: 2.75px;
}

.letter-spacing-3 {
	letter-spacing: 3.76px;
}

.center-pls {
	margin: 0 auto;
}


.center-img {
	margin: 0 auto;
}

.gg-border {
	border-top: 3px solid #3E849B;
	width: 100%;
	height: 1px;
}

.gg-b-t {
	border-top: 2px solid #3E849B;
}

.gg-b-b {
	border-bottom: 2px solid #3E849B;
}

.prov-base-text {
	font-size: .85em;
	font-weight: 300;
	margin-bottom: calc(10px * 4);
}

.prov-hash-string {
	font-family: Menlo;
	font-size: .5em;
	overflow-wrap: break-word;
	overflow-y: scroll;
	scrollbar-color: #fff #4b4a4a;
	height: 10vw;
}

.nav-hov:hover {
	background-color: #3e849b;
}

.na-hov:hover {
	color: #3e849b;
}

.prov-hov:hover {
	color: #fff !important;
}

.banner {
	margin: 2rem auto;
}

.inside {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}

.simple-link {
	text-decoration: underline;
	font-weight: bold;
}

.simple-link:hover {
	opacity: 60%;
}

.open-source {
	background-color: 	rgba(191,10,48);
	z-index: 5;
}

.special-bg-h {
	height: 100vh;
}

.blur-bg {
	background-color: #031423;
}

.gh-shadow {
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

.gg-ml-auto {
	margin-left: auto;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.disable-but {
	background-color: rgba(156, 163, 175) !important;
}

.disable-but:hover {
	cursor: not-allowed;
}

.hero {
	background: url("/fjb/bg.jpg");
	background-size: cover;
	background-position: bottom;
}

.welcome {
	background-color: #051624;
}

.welcome-section, .dna-section, .kensa-korbi, .roadmap, .community-tools, .fair-spawn {
	background-color: #202020;
}

.fjb-section {
	z-index: 5;
	background-color: 	rgba(191,10,48);
}

.deflationary-burn {
	z-index: 5;
	background-color: 	rgba(191,10,48);
}

.cap-log {
	background-color: #8c8f68;
}

blockquote {
  border-left: 10px solid #2e687b;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
	letter-spacing: 1.66px;
	font-weight: normal;
}
blockquote:before {
  color: #2e687b;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


.rectangle-frame {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.19);
	width: 265px;
  height: 265px;
	position: relative;
	z-index: 1;
}

.spec {
	background-color: #fff;
}

.ship-class {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -133.5px;
	z-index: 2;
	max-width: 120%;
	width: 115%;
	height: auto;
}

.the-crew {
	background-color:#632469;
}

.tst-but {
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -172.5px;
	z-index: 2;
	width: 130%;
	max-width: 130%;
}

.text-shadow {
	text-shadow: 2px 2px 4px black;
}
.text-shadow-md {
	text-shadow: 4px 4px 8px black;
}
.text-shadow-lg {
	text-shadow: 15px 15px 30px black;
}
.text-shadow-none {
	text-shadow: none;
}

.cap-icon {
	position: absolute;
	bottom: 30px;
	left: 55%;
	margin-left: -165.5px;
	z-index: 2;
	max-width: 140%;
	width: 125%;
	height: auto;
}

.desktop-only {
	display: block;
}

.mobile-only {
	display: none;
}

.book-icon {
	position: absolute;
	bottom: 0;
	left: 55%;
	margin-left: -165.5px;
	z-index: 2;
	max-width: 140%;
	width: 125%;
	height: auto;
}

.foot {
	background-color: rgba(191,10,48);
}

.all-a-bored {
  background-color: #3a8097;
}

.svg-twit {
enable-background:new 0 0 248 204;
}

.Logo_1_ {
	fill: #fff;
}

.gg-wallet {
  background: #4285f4;
  color: #fff;
  text-transform: uppercase;
	box-shadow: 0px 17px 10px -10px rgb(0 181 172 / 39%);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.gg-but {
	line-height: 1.25rem !important;
	padding: 1.75rem .75rem !important;
}

.gg-wallet:hover {
	box-shadow: 0px 37px 20px -20px rgb(0 181 172 / 39%);
	transform: translate(0px, -10px) scale(1.05);
}

.dont-touch {
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.dont-touch:hover {
	transform: translate(0px, -10px) scale(1.05);
}

.block-links li {
	position: relative;
	height: 50px;
	margin: 0 auto;
  width: 62%;
	margin-left: 33px;
}

.block-links li a svg {
	width: 65%;
	fill: #fff;
	margin-top: 7px;
}

.block-links li a {
	z-index: 10;
	position: absolute;
	display: block;
	background: rgb(55, 178, 171);
	top: 0;
	left: 0;
	width: 48px;
	height: 45px;
	border-radius: 100%;
	padding: 6px 0 0 13px;
	text-decoration: none;
	color: #BBDEFB;
	font-size: 18px;
	text-align: center;
	border: 1px solid #c2c9cc;
	-webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.4);

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.block-links li a:hover {
	cursor: pointer;
	color: #fff;
	margin-left: 4px;
}

.block-links li:before {
	z-index: 5;
	position: relative;
	content: " ";
	display: block;
	width: 50px;
	height: 50px;
	background: #5b6266;
	border-radius: 100%;
	border: 1px solid #1976D2;
	top: -1px;
	left: -1px;
}

.bg-shad-mobile {
	display: none;
}

.hide-on-large {
	display: none;
}

@media (max-width: 480px) {
	.adjust-font {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.adjust-font-small {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

@media (max-width: 770px) {
	.gh:hover {
		transform: none;
	}

	.mobile-only {
		display: block;
	}

	.desktop-only {
		display: none;
	}

.hide-on-large {
	display: block;
}
	.discord-bubble {
		width: 100%;
		font-size: 14px;
	}

	.pos-gho {
		margin-bottom: -9px;
	}

	.pos-gho-tra {
		transform: translateY(3px);
	}

	.pos-gho-tra-s {
		transform: translateY(1px);
	}

	.gg-ml-auto {
		margin: 0 auto;
	}

	.bg-shad-mobile {
		display: block;
		border-radius: 40px;
		background-color: rgba(0, 0, 0, 0.19);
		width: 100%;
		height: 100%;
		padding: 1rem 0;
	}

	.bg-shad {
		display: none;
	}

	.hid-small {
		display: none;
	}
}

@media (min-width: 1024px) {
	.block-links li:before {
		position: absolute;
	}
}

@media (max-width: 650px) {
	.special-pad {
		margin-right: .5rem !important;
		margin-left: 2.5rem !important;
	}

	.gg-wallet {
		font-size: 11px !important;
		padding: 0;
		line-height: 20px !important;
	}

	.no-p-left {
		margin-left: 0 !important;
	}
}

@media (max-width: 1135px) {
	.special-bg-h {
		height: auto;
	}
}

.custom-grid-break-points {
	display: inline-grid;
	column-gap: 2.75rem;
	row-gap: 1.5rem;
}

@media (min-width: 3001px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(10, minmax(0,1fr));
	}
}

@media only screen and (min-width: 2801px) and (max-width: 3000px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(9, minmax(0,1fr));
	}
}

@media only screen and (min-width: 2601px) and (max-width: 2800px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(8, minmax(0,1fr));
	}
}

@media only screen and (min-width: 2322px) and (max-width: 2600px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(7, minmax(0,1fr));
	}
}

@media only screen and (min-width: 1921px) and (max-width: 2320px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(6, minmax(0,1fr));
	}
}

@media only screen and (min-width: 1651px) and (max-width: 1920px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(5, minmax(0,1fr));
	}
}

@media only screen and (min-width: 1351px) and (max-width: 1650px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(4, minmax(0,1fr));
	}
}

@media only screen and (min-width: 751px) and (max-width: 1350px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(3, minmax(0,1fr));
	}
}

@media only screen and (min-width: 501px) and (max-width: 750px) {
	.custom-grid-break-points {
		grid-template-columns: repeat(2, minmax(0,1fr));
	}
}


@media (max-width: 500px) {
	.custom-grid-break-points {
		display: block;
		margin: 0 16px;
	}
}
