.wal {
	border-radius: 25.5px !important;
	background-color: #fff !important;
  font-size: 15px !important;
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	letter-spacing: 1px !important;
	color: #051a29 !important;

	position: fixed !important;
	width: auto !important;
  min-width: 198px !important;
	height: 36px !important;
	right: 100px !important;
	top: 32px !important;
  line-height: 38px !important;
  justify-content: center !important;
  z-index: 10;
}

.wal-rarity .wallet-adapter-button-start-icon {
  margin-right: 11px !important;
}

.r-justify-center {
  justify-content: center !important;
}

.r-justify-left {
  justify-content: left !important;
}

.wal-rarity {
	border-radius: .375rem !important;
	background-color: #fff !important;
  font-size: 15px !important;
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	letter-spacing: 1px !important;
	color: #051a29 !important;
	height: 36px !important;
	width: 100% !important;
  margin-top: 4px;
  padding-left: 8px !important;

	/* position: fixed !important;
	width: auto !important;
  min-width: 198px !important;
	height: 36px !important;
	right: 100px !important;
	top: 32px !important;
  line-height: 38px !important;
  justify-content: center !important;
  z-index: 10; */
}

.wal-banner-later {
  border-radius: 25.5px !important;
  font-size: 15px !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  color: #383a47 !important;
  width: auto !important;
  min-width: 250px !important;
  height: 36px !important;
  line-height: 38px !important;
  justify-content: center !important;
  border: 1px solid #383a47;
  cursor: not-allowed;
}

.wal-banner {
	border-radius: 25.5px !important;
	background-color: #fff !important;
  font-size: 15px !important;
	font-family: Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	letter-spacing: 1px !important;
	color: #051a29 !important;

	width: auto !important;
  min-width: 198px !important;
	height: 36px !important;
	right: 100px !important;
  line-height: 38px !important;
  justify-content: center !important;
}

.mint-button {
  background-color: #fff;
  font-size: 25px !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  color: #051a29 !important;
  padding: 1rem 3rem;
}

.custom-hov {
	font-family: "Montserrat-SemiBold", sans-serif;
	font-weight: 700;
}

.blah {
	font-family: "Montserrat-SemiBold", sans-serif;
	font-weight: 700;
  font-size: 2rem;
}

.ban {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

.custom-hov:hover {
  color: rgba(229, 231, 235, 0.75);
}

.mint-button:hover {
  opacity: 60%;
}

.MuiCircularProgress-root {
  width: 20px !important;
  height: 20px !important;
  margin-top: 7px !important;
}

.wallet-adapter-dropdown-list {
  position: fixed !important;
  right: 96px !important;
  top: 63px !important;
  background: #031423 !important;
}

.wallet-adapter-dropdown {
  display: block !important;
}

#r-wp .wallet-adapter-dropdown .wallet-adapter-dropdown-list {
  position: fixed !important;
  left: 0 !important;
  background: #031423 !important;
  width: 256px;
  top: 350px !important;
}

#r-wp .wallet-adapter-dropdown {
  position: relative;
}

#r-wp-mob .wallet-adapter-dropdown {
  position: relative;
}

#r-wp-mob .wallet-adapter-dropdown .wallet-adapter-dropdown-list {
  position: fixed !important;
  left: 0 !important;
  background: #031423 !important;
  width: 100%;
  top: 242px !important;
}

.wal:hover {
  opacity: 80%;
}

.wal-rarity:hover {
  opacity: 80%;
}


.sol-log {
  position: fixed;
  width: 75px;
  height: 9.4px;
  right: 160px;
  top: 83px;
  z-index: 10;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* .menu-item-spec {
  padding: 1rem 2.8rem 0 0 !important;
}

.menu-item-spec2 {
  padding: 1rem 2.5rem 0 0 !important;
}

.menu-item-spec3 {
  padding: 1rem .6rem 0 0 !important;
} */

.menu-item {
  display: flex;
	color: rgb(229, 231, 235);
	letter-spacing: 2px;
  justify-content: space-between;
  /* padding: 1rem 1rem 0 0rem; */
  align-items: center;
  justify-items: center;
}

.menu-item:hover {
	color: #3a8097;
}

/* General sidebar styles */
.bm-menu {
  background: #031423;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #031423;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.6) !important;
	cursor: pointer;
}

#page-wrap {
	display: flex !important;
	transition: none !important;
	transform: none !important;
	width: 100%;
	flex-direction: column !important;
}

.bm-burger-button:hover {
	opacity: 60% !important;
} 

.bm-cross-button:hover {
	opacity: 60% !important;
}

.custom-left {
	left: 0px;
}

.r-nav {
  background-color: #14548a;
}

.r-nav-n:hover {
  background-color: #14548a;
}